# Virtual Environment
.venv/
venv/
.env/
*.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Database
db.sqlite3

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Docker files
Dockerfile
.dockerignore
docker-compose.yml

# Logs
*.log